@import '../../global.scss';

.portfolio-component {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    &__projects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        &__project-block {
            background-color: $main-color;
            color: rgb(225, 245, 226);
            text-align: center;
            font-size: 16pt;
            width: 50px;
            padding: 50px;
        }
    }
}

@media screen and (max-width: 600px) {
    .portfolio-component__projects {
        flex-direction: column;
        margin-left:0;
        margin-right: 0;        
        align-items: center;
        &__project-block {
            width: 50%;
            margin-bottom: 30px;
        }
    }
}

