$app-media-query: "only screen and (max-width : 500px)";
$font-color: lightsalmon;
$main-font: 'Source Sans Pro';
$title-font: 'Cabin Sketch';
$main-color: rgb(31, 67, 133);

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $main-color;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: $title-font;
}

